
@media screen and (max-width:1093px) {

    .collection{
        display: none;
    }
.menu p{
    display: block;
}

}
@media screen and (max-width:702px) {
    .item2{
    display: none;
    }
    .navbar img{
        display: none;
    }
    .text4{
        display: none;
    }
    .banner5{
        grid-template-columns: 1fr;
        padding: 0 0;
    }
    .img6{
        width: 503px;
    }
}

@media screen and (max-width:592px){
   .img6{
    width: 400px;
   } 
}
@media screen and (max-width:412px){
    .menu p {
        margin-left: 300px;  
    }
    .img6{
        width: 350px;
       } 
}
@media screen and (max-width:350px){
    .menu p{
        margin-right: 200px;
    }
}
